@model Falabella.Models.ViewModels.Cliente.ClienteViewModels
@{
    ViewBag.Title = "Editar";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.idCliente)
            <div>
                @Html.LabelFor(d => d.idTipoDocumento)
                @Html.DropDownList("idTipoDocumento", items, "Selecciona...", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.documento)
                @Html.TextBoxFor(d => d.documento, "", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.nombre)
                @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.fechaNacimiento)
                @Html.EditorFor(d => d.fechaNacimiento, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.fechaNacimiento, null, new { @class = "red" })
            </div>
            <br>
            <div class="row" style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}


