@model Falabella.Models.ViewModels.CompaniaProducto.CompaniaProductoViewModels
@{
    ViewBag.Title = "Nuevo";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
    List<SelectListItem> itemsPro = (List<SelectListItem>)ViewBag.itemsPro;
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Nuevo", "CompaniaProducto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.idCompania)
                @Html.DropDownList("idCompania", items, "Selecciona...", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.idProducto)
                @Html.DropDownList("idProducto", itemsPro, "Selecciona...", new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(d => d.estado)
                @Html.CheckBoxFor(d => d.estado, true)
            </div>
            <br>
            <div class="row" style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}

